@tailwind base;
@tailwind components;
@tailwind utilities;

.background--custom {
    background: linear-gradient(90deg, #D2BE9F, #82A9EC, #B5AAAA);
    background-size: 300% 300%;
    animation: gradient 6s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}